<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css"/>
    <title>Prediction</title>

</head>
<body>
    <div class="container">
        <img src="../static/survived.jpg" alt="" class="logo"/>
        <h1>Oh No! You did not make it</h1>
        <h2>Did you like the Predictor?</h2>
        <h3>Send your suggesstions to me,Yatharth Gupta</h3>
        <h3>If you liked the predictor share it with others</h3>
    </div>
</body>
</html>